@import '../../styles/theme.css';

.featureSection {
    padding: 60px 20px;
    background-color: rgba(255, 255, 255, 0.5);

}

.featureCard {
    background: var(--cor-03);
    border-radius: 12px;
    padding: 35px 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    height: 100%;
    transition: var(--transicao);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.featureCard:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.featureCard h3 {
    color: var(--cor-02);
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 700;
}

.featureCrad ul {
    list-style: none;
    padding: 0;
}

.featureCard li {
    font-size: 1rem;
    margin-bottom: 15px;
    color: var(--cor-02);
    line-height: 1.6;
    padding-left: 25px;
    position: relative;
}

.featureCard li::before {
    content: "✓";
    position: absolute;
    left: 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.sectionTitle {
    font-size: clamp(1.8rem, 5vw, 2.5rem);
    color: var(--cor-02);
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    animation: flutuar 3s ease-in-out infinite;
}

.featureCard strong {
    color: var(--cor--preto);
    font-weight: 600;
}